# dependencies
node_modules/
.pnp.* 

# next
.next/
out/
.next-static/
dist/

# logs & env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env*
!.env.example

# editors
.vscode/
.DS_Store

# build cache
coverage/
.cache/
